body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.map-container {
  height: 800px;
}

.mapboxgl-popup,
.mapboxgl-popup-content {
  max-width: 600px !important;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.apexcharts-yaxis {
  max-width: 7em;
  width: 6em;
}

.busyhourscontainer {
  /* position: absolute; */
  background-color: white;
  height: 550px;
  top: -20vh;
}

/* This is for the 'padding' between squares on the heatmap*/
.apexcharts-heatmap-rect {
  stroke: white;
  stroke-width: 2px;
}
